.success_tick{
    border-radius: 25px;
    border-color: greenyellow;
    color: white;
}

h1 {
    text-align: center!important;
    font-size: 25px!important;
}
h4 {
    text-align: center!important;
    font-size: 19px!important;
}