<!-- <h1>Angular Courses</h1> -->
<!-- <app-course></app-course> -->
<!-- <app-login></app-login>
<app-dashboard></app-dashboard> -->

<h1 data-toggle="collapse" data-target="#navbarToggler9"
aria-controls="navbarToggler9" aria-expanded="false" aria-label="Toggle navigation">{{ getTitle() }} <span class="navbar-toggler-icon"></span></h1>


<nav id="navbarToggler9" class="navbar navbar-expand-sm bg-dark">
    <!-- Brand/logo -->
    <label id="logo"  style="width:60px;height:50px;">  . </label>
    <a class="navbar-brand" routerLink="/">
      
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="reload('/')" class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a (click)="reload('/Dashboard')" class="nav-link" routerLink="Dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a (click)="reload('/Sellerdashboard')" class="nav-link" routerLink="Sellerdashboard">Seller dashboard</a>
      </li>
      <li class="nav-item">
        <a (click)="reload('/orderpool')" class="nav-link" routerLink="orderpool">Order Pool</a>
      </li>
      <li class="nav-item">
        <a (click)="reload('/Accountprofile')" class="nav-link" routerLink="Accountprofile">Account profile</a>
      </li>
      <li class="nav-item">
        <a (click)="reload('/Login')" class="nav-link" routerLink="Login">Login page</a>
      </li>
      <li class="nav-item">
        <a (click)="reload('/Register')" class="nav-link" routerLink="Register">Register</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>

  
  

<router-outlet></router-outlet>
<footer></footer>


