.crypto{
   
  
    border-radius: 25px;
    border-color: steelblue;
    color: white;
}

.crypto:hover{
    color: black !important;
    /* max-width: 10px;
    max-height: 10px; */
   

}

/* style="max-width: 10px; color:white; max-height: 10px;" */