<div id='parent_div' class="container-fluid">
    <div class="row">
        <div class="col-sm-3.5 mx-auto">

        <form>
            <h2 style="color:white;" class="text-center">Angular Cryptocurrency Escrow Registration page</h2>
            <hr style="background-color:white;">

            <div  class="container-fluid">
                <div class="row">
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Firstname:</label></b>
                        <input type="text" class="form-control" id='firstname' placeholder="Enter your Firstname"/>
                    
                    </div>
                    &nbsp;&nbsp;
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Middlename:</label></b>
                        <input type="text" class="form-control" id='middlename' placeholder="Enter your Middlename"/>
                    
                    </div>
                    &nbsp;&nbsp;
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Lastname:</label></b>
                        <input type="text" class="form-control" id='lastname' placeholder="Enter your Lastname"/>
                    
                    </div>

                </div>

            </div>    

            <div class="email">
                <b><label style="color:white;" class="" for="username">Username:</label></b>
                <input type="text" class="form-control" id='username' placeholder="Enter your username"/>
          
            </div>

            <div class="email">
                <b><label style="color:white;" class="" for="email">Email:</label></b>
                <input type="text" class="form-control" id='email' placeholder="Enter your email address"/>
          
            </div>

            <div class="phone">
                <b><label style="color:white;" class="" for="email">Telephone:</label></b>
                <input type="phone" class="form-control" id='phone' placeholder="Enter your phone number"/>
            
            </div>
            <b><label style="color:white;" for="seller">Seller Account details:</label></b>
            <div class="pass">
                
                <input style="color: black;" type="text"  id='bankname' placeholder="Enter Bankname" required/>
            </div>
            <div class="pass">
                
                <input style="color: black;" type="text"  id='bvn' placeholder="Enter Bank verification no" required/>
                
            </div>
            <div class="pass">
                
                <input style="color: black;" type="text"  id='acc_no' placeholder="Enter Account number" required/>
            </div>

            <div class="pass">
                <b><label style="color:white;" for="password">Password:</label></b>
                <input type="password"  id='password' placeholder="Enter your password"/>
                
                
            </div>

            <div class="pass_again">
                <b><label style="color:white;" for="password">Password again:</label></b>
                <input type="password"  id='password' placeholder="Enter your password again"/>
                
                
            </div>

            <input style="min-width: 200px;" type="submit" class="btn btn-primary text-center" value="Register">
            <br>
            <a href="#" class="text-center">Forgort password?</a>&nbsp;&nbsp;
            <a href="http://localhost:4200/Login" class="text-center">Login</a>
          
        </form>
        </div>
    </div>

</div>

