<!-- <div id='parent_div' class="container-fluid">
    <div class="row">
        <div class="col-sm-3.5 mx-auto">

        <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
            <h2 style="color:white;" class="text-center">Angular Cryptocurrency Escrow Registration page</h2>
            <hr style="background-color:white;">

            <div  class="container-fluid">
                <div class="row">
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Firstname:</label></b>
                        <input [()]="firstname" name="firstname"  type="text" class="form-control" id='firstname' placeholder="Enter your Firstname"/>
                    
                    </div>
                    &nbsp;&nbsp;
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Middlename:</label></b>
                        <input [()]="middlename" name="middlename"  type="text" class="form-control" id='middlename' placeholder="Enter your Middlename"/>
                    
                    </div>
                    &nbsp;&nbsp;
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Lastname:</label></b>
                        <input [()]="lastname" name="lastname"  type="text" class="form-control" id='lastname' placeholder="Enter your Lastname"/>
                    
                    </div>

                </div>

            </div>    

            <div class="email">
                <b><label style="color:white;" class="" for="username">Username:</label></b>
                <input [()]="username" name="username"  type="text" class="form-control" id='username' placeholder="Enter your username"/>
          
            </div>

            <div class="email">
                <b><label style="color:white;" class="" for="email">Email:</label></b>
                <input [()]="email" name="email"  type="text" class="form-control" id='email' placeholder="Enter your email address"/>
          
            </div>

            <div class="phone">
                <b><label style="color:white;" class="" for="email">Telephone:</label></b>
                <input [()]="phone" name="phone"  type="phone" class="form-control" id='phone' placeholder="Enter your phone number"/>
            
            </div>
            <b><label style="color:white;" for="seller">Seller Account details:</label></b>
            <div class="pass">
                
                <input [()]="bankname" name="bankname"  style="color: black;" type="text"  id='bankname' placeholder="Enter Bankname" required/>
            </div>
            <div class="pass">
                
                <input [()]="bvn" name="bvn"  style="color: black;" type="text"  id='bvn' placeholder="Enter Bank verification no" required/>
                
            </div>
            <div class="pass">
                
                <input [()]="acc_no" name="acc_no"  style="color: black;" type="text"  id='acc_no' placeholder="Enter Account number" required/>
            </div>

            <div class="pass">
                <b><label style="color:white;" for="password">Password:</label></b>
                <input [()]="password" name="password"  type="password"  id='password' placeholder="Enter your password"/>
                
                
            </div>

            <div class="pass_again">
                <b><label style="color:white;" for="password1">Password again:</label></b>
                <input [()]="pass_again" ngModel type="password" name="pass_again"  id='password1' placeholder="Enter your password again"/>
                
                
            </div>

            <input  style="min-width: 200px;" type="submit" class="btn btn-primary text-center" value="Register">
            <br>
            <a href="#" class="text-center">Forgort password?</a>&nbsp;&nbsp;
            <a href="http://localhost:4200/Login" class="text-center">Login</a>
          
        </form>
        </div>
    </div>

</div>
 -->


 <div id='parent_div' class="container-fluid">
    <div class="row">
        <div class="col-sm-3.5 mx-auto">
        <alert></alert>
         
       
        <form [formGroup]="form" #registrationForm="ngForm" (ngSubmit)="registrationForm.form.valid && onSubmit(registrationForm)" novalidate>
            <h2 style="color:white;" class="text-center">Angular Cryptocurrency Escrow Registration page</h2>
            <hr style="background-color:white;">
            <!-- First -->
            
            

            <div  class="container-fluid">
                <div class="row">
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Firstname:</label></b>
                        <input required minlength="3" maxlength="20" formControlName="firstname"  type="text" class="form-control" id='firstname' placeholder="Enter your Firstname"/>
                        
                        <div class="alert-danger error" *ngIf="f.firstname.errors &&registrationForm.submitted">
                            <div class="error" *ngIf="f.firstname.errors.required">firstname is required</div>
                            
                            <div class="error" *ngIf="f.firstname.errors.minlength">
                              firstname must be at least 3 characters
                            </div>
                            <div class="error" *ngIf="f.firstname.errors.maxlength">
                              firstname must be at most 20 characters
                            </div>
                          
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Middlename:</label></b>
                        <input required minlength="3" maxlength="20"  formControlName="middlename"  type="text" class="form-control" id='middlename' placeholder="Enter your Middlename"/>
                        
                        <div class="alert-danger error" *ngIf="f.middlename.errors &&registrationForm.submitted">
                            <div class="error" *ngIf="f.middlename.errors.required">middlename is required</div>
                            <div class="error" *ngIf="f.middlename.errors.minlength ">
                              Middlename must be at least 3 characters
                            </div>
                            <div class="error" *ngIf="f.middlename.errors.maxlength">
                              Middlename must be at most 20 characters
                            </div>
                          
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <div class="col-sm-3.5 mx-auto">
                        <b><label style="color:white;" class="" for="email">Lastname:</label></b>
                        <input required minlength="3" maxlength="20" formControlName="lastname"  type="text" class="form-control" id='lastname' placeholder="Enter your Lastname"/>
                        
                        <div class="alert-danger error" *ngIf="f.lastname.errors &&registrationForm.submitted">
                            <div class="error" *ngIf="f.lastname.errors.required">lastname is required</div>
                            <div class="error" *ngIf="f.lastname.errors.minlength ">
                              lastname must be at least 3 characters
                            </div>
                            <div class="error" *ngIf="f.lastname.errors.maxlength">
                              lastname must be at most 20 characters
                            </div>
                          
                        </div>
                    </div>

                </div>

            </div>    

            <div class="username">
                <b><label style="color:white;" class="" for="username">Username:</label></b>
                <input required minlength="3" maxlength="20"  formControlName="username" type="text" class="form-control" id='username' placeholder="Enter your username"/>
                
                <div class="alert-danger error" *ngIf="f.username.errors &&registrationForm.submitted">
                    <div class="error" *ngIf="f.username.errors.required">username is required</div>
                    <div class="error" *ngIf="f.username.errors.minlength ">
                      username must be at least 3 characters
                    </div>
                    <div class="error" *ngIf="f.username.errors.maxlength">
                      username must be at most 20 characters
                    </div>
                  
                </div>
            </div>


            <div class="email">
                <b><label style="color:white;" class="" for="email">Email:</label></b>
                <input  formControlName="email"  type="text" class="form-control" id='email' placeholder="Enter your email address"/>
                
                <div class="alert-danger error" *ngIf="f.email.errors &&registrationForm.submitted">
                    <div class="error" *ngIf="f.email.errors.required">email is required</div>
                    <div class="error" *ngIf="f.email.errors.email ">
                     Invalid email
                    </div>
                   
                </div>
            </div>

            <div class="phone">
                <b><label style="color:white;" class="" for="email">Telephone:</label></b>
                <input required minlength="11" maxlength="11" formControlName="telephone"  type="phone" class="form-control" id='phone' placeholder="Enter your phone number"/>
            
            </div>
            <!-- <b><label style="color:white;" for="seller">Seller Account details:</label></b>
            <div class="pass">
                
                <input [()]="form.searchbanks" name="searchbanks"  style="color: black;" type="text"  id='searchbanks' placeholder="Search more banks" required/>
                <select class="form-control" name="bankname" [()]="form.bankname">
                    <option *ngFor="let item of items | slice:0:30; let i=index" [value]="item.name">{{item.name}}</option> 
                </select>
            </div>
            

            <div class="pass">
                
                <input [()]="form.bvn" name="bvn"  style="color: black;" type="text"  id='bvn' placeholder="Enter Bank verification no" required/>
                
            </div>
            <div class="pass">
                
                <input [()]="form.acc_no" name="acc_no"  style="color: black;" type="text"  id='acc_no' placeholder="Enter Account number" required/>
            </div> -->

            <div class="pass">
                <b><label style="color:white;" for="password">Password:</label></b>
                <input  formControlName="password"  type="password"  id='password' [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password"/>
                <div class="alert-danger error" *ngIf="f.password.errors &&registrationForm.submitted" >
                    <div class="error" *ngIf="f.password.errors.required">Password is required</div>
                    <div class="error" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
                
            </div>

            <div class="pass_again">
                <b><label style="color:white;" for="password1">Password again:</label></b>
                <input   type="password" formControlName="pass_again"  id='password1' [ngClass]="{ 'is-invalid': submitted && f.pass_again.errors }" placeholder="Enter your password again"/>
                <div class="alert-danger error" *ngIf="f.pass_again.errors &&registrationForm.submitted" >
                    <div class="error" *ngIf="f.pass_again.errors.required">Confirm Password is required</div>
                    <div class="error" *ngIf="f.pass_again.errors.mustMatch">Passwords must match</div>
                </div>
                
            </div>
            
            <p><input  style="min-width: 200px;" type="submit" class="btn btn-primary text-center" value="Register"/> &nbsp;&nbsp; &nbsp;&nbsp;<span style="width: 25px;height: 25px;background-color: orange;" *ngIf="loading" class="spinner-grow text-warning"></span>&nbsp;&nbsp;<span style="width: 25px;height: 25px;background-color: orange;" *ngIf="loading" class="spinner-grow text-warning"></span></p>
            <br>
            <a href="#" class="text-center">Forgort password?</a>&nbsp;&nbsp;
            <a href="http://localhost:4200/Login" class="text-center">Login</a>
          
        </form>
        </div>
    </div>

</div>