<div id='parent_div' class="container-fluid">
    <div class="row">
        <div class="col-sm-3.5 mx-auto">
            <div>
                 
                <form class="bin">
                    <h2 style="color:white;" class="text-center">Angular Cryptocurrency Escrow login page</h2>
                    <hr style="background-color:white;">
         
                    <div class="email">
                        <b><label style="color:white;" class="" for="email">Email:</label></b>
                        <input type="text" class="form-control" id='email' placeholder="Enter your email address"/>
                        
                    </div>
                    <div class="pass">
                        <b><label style="color:white;" for="password">Password:</label></b>
                        <input type="password"  id='password' placeholder="Enter your password"/>
                        <br>
                        
                    </div>
                    <input style="min-width: 200px;" type="submit" class="btn btn-primary text-center" value="Login">
                        <br>
                    <a href="#" class="text-center">Forgort password?</a>&nbsp;&nbsp;
                    <a href="http://localhost:4200/Register" class="text-center">Register</a>
                  
                </form>

            </div>
        
        </div>
    </div>

</div>

