<div style="min-height: 600px;"  id='parent_div' class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mx-auto">

        <form>
            <h2 class="text-left">Angular Escrow Seller's Dashboard</h2>
            
            <br>
            <b><p style="font-size:19px; color:white;">Enter Transaction code from buyer</p></b>
            <p style="color:orange;">0x89205A3A3b2A69De6Dbf7f01ED13B2108B2c43e7</p>
            <div class="pass">
                <input style="color: black;" type="text"  id='trans_code' placeholder="Transaction code" required/>
            </div>
          
            

            <!-- <div class="pass">
                <b><label for="seller">Seller Public Id:</label></b>
                <input type="text"  id='seller' placeholder="Enter seller public id"/>
                <br>
                <input type="submit" class="btn btn-primary text-center" id="Buyer" value="Send transaction code">
            </div> -->

            <!-- <div class="pass">
                <b><label style="color:white;" for="seller">Seller Account details:</label></b>
                <input style="color: black;" type="text"  id='seller' placeholder="Enter Bankname" required/>
                <br>
                <input style="color: black;" type="text"  id='seller' placeholder="Enter Bank verification no" required/>
                <br>
                <input style="color: black;" type="text"  id='seller' placeholder="Enter Account number" required/>
            </div> -->
            <input style="min-width: 200px;" type="button" class="btn btn-primary text-center" id="gen_trans" value="Join Transaction">&nbsp;&nbsp;
  
                <input type="button" class="btn btn-primary text-center"  value="Report Buyer"/>
                <br>
                <p>Please note you have a maximum of 10 minutes to provide service to the buyer after which the buyer will be refunded</p>
            

            <!-- <b><label class="" for="Buyer">Buyer:</label></b>&nbsp;&nbsp; -->
            <!-- <input type="submit" class="btn btn-primary text-center" id="Buyer" value="Start Transaction" disabled>
            <br>
             -->
        </form>

        </div>
    </div>

</div>

