

	<!-- START PRELOADER -->
	<!-- <div id="page-preloader">
		<div class="theme-loader">Bitfonix</div>
	</div> -->
	<!-- END PRELOADER --> 
	
	<!-- START HEADER SECTION -->
    
	<header class="main-header header-1">
		<!-- START TOP AREA -->
		<!-- <div class="top-area">
			<div class="auto-container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12 col-12">
						<div class="info-menu">
							<ul>
								<li><a href="#"><i class="icofont icofont-time"></i> Opening Hours - Mon to Sat: 9AM to 5PM</a></li>
							</ul>
						</div>
					</div>
				
				</div>
			</div>
		</div> -->
		<!-- END TOP AREA -->

		<!-- START LOGO AREA -->
		<div>
			
			<div class="auto-container">
				<div class="row">
					<div class=" col-sm-6 ">
						<div class="logo">
							<a href="index-2.html">
							   <img class="img-fluid" src="assets/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- end col -->
					<!-- <div class="col-lg-7 col-md-12 col-sm-12 col-12">
						<div class="header-info-box">
                            <div class="header-info-icon">
								<i class="fa fa-envelope-open"></i>
							</div>
							<p>Email Us</p>
                            <h6>info@yoursite.com</h6>
                        </div>
						<div class="header-info-box">
                            <div class="header-info-icon">
								<i class="icofont icofont-phone"></i>
							</div>
							<p>Call Us</p>
                            <h6>123-456-0975</h6>
                        </div>
						<div class="header-info-box">
                            <a href="#" class="quote-btn">Get Started <i class="icofont icofont-caret-right"></i></a>
                        </div>
					</div> -->
					<!-- end col -->
				</div>
			</div>
		</div>
		<!-- END LOGO AREA -->


		<!-- END NAVIGATION AREA -->	
	</header>
	<!-- END HEADER SECTION -->
<div class="body">
	<!-- START SLIDER SECTION -->
	<section style="font-size: 20px;background-image: url(assets/img/bg/min.jpg)" class="slider-section">
		<div data-background="assets/img/bg/slide1.jpg" class="home-slides owl-carousel owl-theme ">
			<div class="home-single-slide" data-background="assets/img/bg/slide1.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 ">
								<div class = "round_div" >
                                    <br>
									<h2>Secure & easy way to buy & sell Cryptocurrency among Peers</h2>
									<p class="text-capitalize">Angular Cryptocurrency Online Escrow is a Peer to Peer Transactional network that aims to make Buying and selling of cryptocurrencies held by individuals fast, safe and scam free .</p>
									<div class="home-single-slide-button">
										<a style="color:steelblue;"   href="#" class="btn-style btn-filled">Learn More</a>&nbsp;&nbsp;
										<a style="color:steelblue;" href="#" class="btn-style btn-border">Bitcoin Price</a>
									</div>
								</div>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="assets/img/bg/slide5.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class = "round_div" >
									<h2>Online Crypto Exchange Escrow you can trust </h2>
									<p class="text-capitalize">Angular Online Escrow is a duely registered company in the United Kingdom, We are credible and bound by Business law to remit all funds entrusted to us by buyers to the deserving sellers.</p>
									<div class="home-single-slide-button">
										<a style="color:steelblue;" href="#" class="btn-style btn-border">Get quote</a>&nbsp;&nbsp;
										<a style="color:steelblue;" href="#" class="btn-style btn-filled">Read More</a>
									</div>
								</div>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="assets/img/bg/slide6.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class = "round_div" >
									<h2>Invest & double your desire bitcoin</h2>
									<p class="text-capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<div class="home-single-slide-button">
										<a style="color:steelblue;" href="#" class="btn-style btn-filled">Contact Us</a>&nbsp;&nbsp;
										<a style="color:steelblue;" href="#" class="btn-style btn-border">View More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
		</div>
	</section>
	<!-- END SLIDER SECTION  -->
	
	<!-- START ABOUT SECTION -->
	<br>
    <div  id="about" class="section-padding">
        <div class=" bin_cont">
			<div class="row">
				<div class="col-12 text-left">
					<div class="section-title">
						<br>
						<h3>Bitfonix Escrow <span>Features</span></h3>
						
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center">
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg1.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-btc"></i>
							</div>
							<div class="single-about-title">
								<h5>Bitcoin Transition</h5>
							</div>
							<div class="single-about-dec">
								<p>Lorem ipsum dolor sit consectetur adipiscing elit sed do.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg4.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-dollar-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Coin Buy & Sell</h5>
							</div>
							<div class="single-about-dec">
								<p>Lorem ipsum dolor sit consectetur adipiscing elit sed do.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg5.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-euro-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Bitcoin & Ethereum</h5>
							</div>
							<div class="single-about-dec">
								<p>Lorem ipsum dolor sit consectetur adipiscing elit sed do.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg6.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-gg"></i>
							</div>
							<div class="single-about-title">
								<h5>Account Security</h5>
							</div>
							<div class="single-about-dec">
								<p>Lorem ipsum dolor sit consectetur adipiscing elit sed do.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg3.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-ruble-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Cryptocurrency Trading</h5>
							</div>
							<div class="single-about-dec">
								<p>Lorem ipsum dolor sit consectetur adipiscing elit sed do.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg1.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-shekel-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Bitcoin Legality</h5>
							</div>
							<div class="single-about-dec">
								<p>Lorem ipsum dolor sit consectetur adipiscing elit sed do.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
			</div>
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END ABOUT SECTION -->
	
	<!-- START PROMO SECTION -->
    <div id="promo" class="section-padding bg-gray">
        <div class="bin_cont" >

				<div id="left" >

						<div>
							<hr id="line">
							<div >
								<h3>About <span>Us</span></h3>
							</div>
						</div>
					
					<!-- end section title -->
					<div class="image-style-1 mb-4">
						<div class="image-style-wrapper">
							<div class="image-one"></div>
							<div class="image-two">
								<img src="assets/img/bg/promobg1.jpg" class="img-fluid" alt="">
							</div>
						</div>
					</div>
					<div class="promo-content">
						<h4>Who we are?</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illodrut inventore veritatis et quasi architecto beatae vitae dicta sunt. </p>
						<a href="#" class="btn-style btn-filled mt-3">Read More <i class="icofont icofont-caret-right"></i></a>
						<div class="signature-img float-lg-right float-md-right float-none mt-3"><img src="assets/img/bg/signature.png" class="img-fluid" alt=""></div>
					</div>	
				</div>
	
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END PROMO SECTION -->
</div>
	
    <!-- END FOOTER -->
	
