<div>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <span class="preheader">Subscribe to Coloured.com.ng mailing list</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <br>
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <!-- <div class="alert alert-success" *ngIf="resent_status" role="alert">
                            
                            Email was successfully resent
                        </div> -->
                        <alert></alert>
                        <app-sucess-tick  align="center"></app-sucess-tick>
                        <h4>If you don't see the mail resend it here</h4>
                        <table style="opacity: 1;background-color: #2C3539;" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          
                            <input (click)="resend_mail()" name="resend_mail" id="resend_mail" style="max-width: 200px; position: center;" class="btn btn-primary" type="button" value="Resend mail"/>
                            <!-- href="http://localhost:3000/api/authentication/resend_mail?public_id=string" -->
                               
                              
                        </table>
                        <p>If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.</p>
      
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Coloured.com.ng | Feminism | Culture | Law | Feminists Rising</span>
                    <br> Don't like these emails? <a href="#">Unsubscribe</a>.
                  </td>
                </tr>
                <tr>
                  <td class="content-block powered-by">
                    Powered by <a href="https://fb.me/eko">Blackcodes</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->
            
          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
</div>